.buttonDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.displayMessage{
    font-size: 1em;
    font-style: bold;
}

.spacing{
    margin: 1em;
    padding: 0.25em;
}

button:disabled{
    color: black;
}